{# https://gist.github.com/briancollins/6365455 #}

{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}

    {{ model|json_encode() }}
    <form action="{{ model.redirect_url }}" method="POST" id="payment-form">
        <input type="hidden" name="activateIntent" value="true"/>
        <button type="submit">Activate Invoice</button>
    </form>
{% endblock %}

{% block payum_vendor_javascripts %}
    {{ parent() }}

    <!-- jQuery is used only for this example; -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
      jQuery(function($) {
        $('#payment-form').submit(function(e) {
          var $form = $(this);

          // Disable the submit button to prevent repeated clicks
          $form.find('button').prop('disabled', true);

          // and re-submit
          $form.get(0).submit();
        });
      });
    </script>

{% endblock %}
